@import "../../common/colors.scss";


.header {
    background-color: $secondary-color;
    height: 72px;
    padding: 0px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.logo{
    color: $font-primary;
    font-size: 20px;
    font-weight: 600;
}
.user-image,
.user-image img {
    width: 38px;
    height: 38px;
    cursor: pointer;
    
}
.search-bar {
    
    width: 50%;
    display: flex;
    justify-content: center;
    form {
    border-radius: 510px;

    display: flex;
    justify-content: center;
    width: 70%;
    background-color: black;
     border: 0;
   
    }
}

input {
    font-size: 18px;
    width: 100%;
    padding: 5px 5px 5px 10px;
    height: 38px;
    outline: none;
    color: white;
    background-color: black;
     border: 0;
    border-radius: 510px;
    
}

input:hover{
    transform: scale(1.1);
    transition: all 0.3s;
   

}
.user-image img:hover{
     transform: scale(1.1);
    transition: all 0.3s;
    
}